#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
select{
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.3);
  width: 20em;
  height: 3em; 
  padding: 0.5em; /* Adjust padding as needed */
  margin: 1em;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}


span{
  font-size: 1em;
  font-weight: bold;
}
.country{
font-size:1.5em;
font-weight: bolder;
}
.cityandstate{
  font-size: 1.1em;
  font-weight: bold;
color:grey;
}